.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #d3d6db36;
    padding-top: 15px;
}

.form {
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 40%;
}

.contact__button{
    margin-top: 20px;
}

.rights {
    flex: 1;
    background: linear-gradient(112.1deg, #3a4750 11.4%, #303841 70.2%);
    color: aliceblue;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.social__media {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    font-size: 50px;
}